@import 'styles/colors';

.container {
  height: 100vh;
  padding: 150px 20px 0 20px;
  text-align: center;

  background: linear-gradient($dark-purple-3, $purple-1, $blue-1);
}

.titleContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  &:nth-child(even) {
    flex-direction: row-reverse;
  }
}
.title {
  font-size: 3rem;
  font-weight: bold;
  color: white;
  max-width: 50%;
}

.workingImg {
  margin: 0 auto;
}

.illustrationContainer {
  width: 30%;
}

@media screen and (max-width: 768px) {
  .container {
    height: unset;
    padding-top: 20px;
  }
  .titleContainer {
    display: block;
    height: calc(100vh - 76px);
    padding-top: 20px;

    &:first-child {
      height: 100vh;
      padding-top: 0;
    }

    .title {
      max-width: unset;
    }
    .illustrationContainer {
      width: 100%;
    }
  }
}
