.arrowContainer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: calc(100vh - 60px);
}

.arrowWrapper {
  position: relative;
  height: 100%;
}

.arrow {
  opacity: 1;
  position: absolute;
  bottom: 24px;
  left: 50%;
  transform: translateX(-50%);
  width: 128px;
  transition: opacity 0.2s ease-in-out;
}

.hidden {
  opacity: 0;
}

.removed {
  display: none;
}

@media screen and (max-width: 768px) {
  .arrow {
    display: none;
  }
}
