@import 'styles/colors';

.container {
  height: 60px;
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 24px;
  background-color: $dark-purple-3;
  color: white;
}

.linkList {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}

.link {
  display: block;

  * {
    text-decoration: none;
    color: inherit;
  }
}

.menu {
  position: absolute;
  right: 0;
  left: 0;
  background-color: $dark-purple-3;
  color: white;
  text-align: center;
}

.menuContainer {
  display: none;
}

.menuHidden {
  display: none;
}

.menuLinkList {
  padding: 0;

  .link {
    display: block;
    padding: 12px 0;
  }
}

.separator {
  width: auto !important;
  margin: 0 24px !important;
}

@media screen and (max-width: 768px) {
  .container {
    height: 80px;
  }

  .menuContainer {
    display: block;
  }

  .linkList {
    display: none;
  }
}
